.login-page-wrapper {
  .col.s12 {
    .btn {
      margin-bottom: 20px;
    }
  }

  .input-field {
    .input-field-helper {
      position: absolute;
      right: 10px;
      top: 3.2rem;
      font-size: 12px;
    }
  }
}
